# variable is a container for a value (string, integer, float, boolean)

# Strings

In [2]:
print("I Love Pizza !")

I Love Pizza !

In [3]:
print("It is really Good")

It is really Good

In [10]:
first_name = "Ceylon"
food = "pizza"
email = "ceylonstat9@gmail.com"

In [5]:
print(first_name)

Ceylon

In [6]:
print(f"Hello {first_name}")

Hello Ceylon

In [8]:
print(f"You like {food}")

You like pizza

In [11]:
print(f"Your email is : {email}")

Your email is : ceylonstat9@gmail.com

# Integers

In [17]:
age = 25
quantity = 3
num_of_students = 30

In [14]:
print(f"You are {age} years old")

You are 25 years old

In [16]:
print(f"you are buying {quantity} items")

you are buying 3 items

In [19]:
print(f"There are {num_of_students} in your class")

There are 30 in your class

# Float

In [25]:
price = 10.99
GPA = 3.2
distance = 5.5

In [22]:
print(f"Price is ${price}")

Price is $10.99

In [24]:
print(f"Your GPA is {GPA}")

Your GPA is 3.2

In [26]:
print(f"You ran {distance}Km")

You ran 5.5Km

# Boolean

In [29]:
is_student = False

In [30]:
if is_student :
    print("You are a student")
    
else :
    print("You are not a student")

You are not a student

In [31]:
for_sale = True

if for_sale :
    print("That item for sale")
else :
    print("That item not for sale")

That item for sale

In [34]:
is_online = True

if is_online :
    print("You are online")
else :
    print("You are offline")

You are online

# Type Casting is the process of converting a variable from one data type to another str(), int(), float(), bool()

In [35]:
Name = "Ceylon Stat"
Age = 25
GPA =3.2
is_student = True

In [40]:
print(type(Name))
print(type(Age))
print(type(GPA))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [42]:
GPA = int(GPA)

In [43]:
type(GPA)

int

In [44]:
GPA

3

# Input() = A function that prompts the user to enter data returns the entered data as string

In [45]:
input("What is your name :")

What is your name :Ceylon Stat

'Ceylon Stat'

In [46]:
name = input("What is your name :")

What is your name :Ceylon Stat

In [47]:
print(f"Helo {name} !")

Helo Ceylon Stat !

In [49]:
Age = input("How old are you ? ")

How old are you ? 25

In [50]:
print(f"You are {Age} years old")

You are 25 years old

In [51]:
type(Age)

str

# Exercise 1 Rectangle Area Calc

In [53]:
length = float(input("Enter the length : "))
width = float(input("Enter the width : "))

Enter the length : 34
Enter the width : 56

In [54]:
area = length * width * 0.5

In [57]:
print(f"Area is {area}cm^2")

Area is 952.0cm^2

In [58]:
Item = input("What item would you buy : ")
price = float(input("What is the price : "))
quantity = float(input("How many would you like : "))

What item would you buy : shirt
What is the price : 3
How many would you like : 1400

In [60]:
total = price * quantity 
print(f"Total price is {total}")

Total price is 4200.0

# Arithmatic & Math

In [61]:
friend = 0

In [62]:
friend = friend + 1

In [63]:
print(friend)

1

In [64]:
friend += 2

In [65]:
print(friend)

3

In [66]:
friend -= 3

In [67]:
print(friend)

0

In [68]:
friend *= 4

In [69]:
print(friend)

0

In [70]:
friend = friend/4

In [71]:
print(friend)

0.0

In [72]:
friend /= 4

In [73]:
print(friend)

0.0

In [74]:
friend += 4

In [75]:
print(friend)

4.0

In [76]:
friend = friend ** 2

In [77]:
print(friend)

16.0

In [78]:
friend **= 2

In [79]:
remainder = friend % 3

In [80]:
print(remainder)

1.0

In [84]:
x = 3.14
y = -4
z = 5

In [82]:
result = round(x)

In [83]:
print(result)

3

In [85]:
print(abs(y))

4

In [87]:
result = pow(4,3)
print(result)

64

In [88]:
maximum = max(x,y,z)
print(maximum)

5

In [91]:
minimum = min(abs(x),abs(y),abs(z))
print(minimum)

3.14

In [92]:
import math

In [93]:
print(math.pi)

3.141592653589793

In [94]:
print(math.e)

2.718281828459045

In [95]:
print(math.sqrt(16))

4.0

In [97]:
radius = float(input("Enter the radius of a circle : "))
circumference = 2 * math.pi * radius
print(f"The circumference is {round(circumference,2)}")

Enter the radius of a circle : 7
The circumference is 43.98

In [98]:
radius = float(input("Enter the radius of a circle : "))
area = math.pi * pow(radius,2)
print(f"The area is {round(area,2)}")

Enter the radius of a circle : 7
The area is 153.94

In [99]:
First_1 = float(input("Enter side A : "))
First_2 = float(input("Enter side B : "))

area = math.sqrt(pow(First_1,2) + pow(First_2,2))
print(f"The area of the Rectangle Triangle is {round(area,2)}cm")

Enter side A : 3
Enter side B : 4
The area of the Rectangle Triangle is 5.0cm

# if = Do some code only IF some condition is True Else do something else

In [101]:
age = int(input("Enter your age : "))
if age >= 18:
    print("You are now signed up!")

Enter your age : 25
You are now signed up!

In [104]:
age = int(input("Enter your age : "))
if age >= 18:
    print("You are now signed up !")
else :
    print("You must be 18+ to sign up")

Enter your age : 34
You are now signed up !

In [105]:
age = int(input("Enter your age : "))
if age >= 18:
    print("You are now signed up")
elif age < 0 :
    print("You haven't been born yet")
else :
    print("You must be 18+ to sign up")

Enter your age : 12
You must be 18+ to sign up

In [106]:
response = input("Would you like food? (Y/N) : ")

if response == "Y":
    print("Have some foods")
else:
    print("No food for you !")

Would you like food? (Y/N) : Y
Have some foods

In [108]:
Name = input("Enter your name : ")

if Name == "" :
    print("You didn't type your name")
else :
    print(f"Hello {Name}! ")

Enter your name : Chathula
Hello Chathula!

In [111]:
for_sale = True

if for_sale:
    print("This item for sale")
else:
    print("This item is NOT for sale")

This item for sale

# Python Calculator

In [116]:
operator = input("Enter the operator (+,-,/,*) :")
num_1 = float(input("Enter your first number : "))
num_2 = float(input("Enter your second number : "))

if operator == "+":
    result = num_1 + num_2
    print(round(result,2))
elif operator == "-":
    result = num_1 - num_2
    print(round(result,2))
elif operator == "*":
    result = num_1 * num_2
    print(round(result,2))
elif operator == "/":
    result = num_1/num_2
    print(round(result,2))
else:
    print("Syntax Error")

Enter the operator (+,-,/,*) :*
Enter your first number : 67.89
Enter your second number : 563.97
38287.92

# Python Weight Converter

In [118]:
weight = float(input("Enter your weight : "))
unit = input("Kilograms or Pounds ? (K or L) : ")

if unit == "K" :
    weight = weight * 2.205
    unit = "Lbs"
elif unit == "L" :
    weight = weight/2.205
    unit = "Kg"
else :
    print(f"{unit} is not valid")
    
print(f"Your Weight is {round(weight,2)}{unit}")

Enter your weight : 34
Kilograms or Pounds ? (K or L) : L
Your Weight is 15.42Kg

# Temperature Conversion Program

In [120]:
unit = input("Is the temperature in Celsius or Fahrenheit (C/F) :")
temp = float(input("Enter your Temperature : "))

if unit == "C":
    result = round((9 * temp)/5 + 32,1) 
    print(f"The temperature in fahrenheit {result}")
elif unit == "F":
    result = round((temp - 32)* 5/9,1)
    print(f"The temperature in celsius {result}")
else :
    print(f"{unit} is invalid")

Is the temperature in Celsius or Fahrenheit (C/F) :R
Enter your Temperature : 56
R is invalid

# Logical Operators = Ievaluate multiple conditions (or, and, not)
## or = at least one condition must be True
## and = both conditions must be True
## not = inverts the condition (not False, not True)

In [121]:
temp = 25
is_raining = True

if temp > 35 or temp < 0 or is_raining :
    print("The outdoor event is cancelled")
else :
    print("The outdoor event is still scheduled")

The outdoor event is cancelled

In [122]:
temp = 7
is_sunny = True 

if temp >= 28 and is_sunny :
    print("It is HOT Outside ü•µ")
    print("It is SUNNY ‚òÄÔ∏è ")
elif temp <= 0 and is_sunny :
    print("It is COLD Outside ü•∂")
    print("It is sunny ‚òÄÔ∏è")
elif 28 > temp > 0 and is_sunny :
    print('It is WARM Outside')
    print("It is SUNNY ‚òÄÔ∏è ")

It is WARM Outside
It is SUNNY ‚òÄÔ∏è

# conditional expression = A one-line shortcut for the If-else statement (ternary operator)

## Print or assign one of two values based on a condition
## X if condition else

In [124]:
num = -5

print("Positive" if num > 0 else "Negative")

Negative

In [126]:
num = 6

result = "Even" if num % 2 == 0 else "ODD"

print(result)

Even

In [128]:
a = 16
b = 7

print(a if a>b else b)

16

In [129]:
age = 25

print("Adult" if age > 18 else "Child")

Adult

# Strings Methods

In [131]:
name = input("Enter your name : ")
print(len(name))

Enter your name : Chathula Weerasinghe
20

In [133]:
name = input('Enter your name : ')
print(name.find(" "))

Enter your name : cgha hjh
4

In [134]:
name = input('Enter your name : ')
print(name.find("a"))

Enter your name : gjgfgjagfg
6

In [135]:
name = input('Enter your name : ')
print(name.find("y"))

Enter your name : yvbkm
0

In [136]:
name = input('Enter your name : ')
print(name.rfind(" "))

Enter your name : hfhj kjghkg kgkjhjk hgkhgj
19

In [137]:
name = input('Enter your name : ')
print(name.capitalize())

Enter your name : bcghfg hjhj
Bcghfg hjhj

In [138]:
name = input('Enter your name : ')
print(name.upper())

Enter your name : tiga
TIGA

In [139]:
name = input('Enter your name : ')
print(name.lower())

Enter your name : DFGDHGcvnbvHGFFddfgs
dfgdhgcvnbvhgffddfgs

In [142]:
name = input('Enter your name : ')
print(name.isdigit())

Enter your name : 7587
True

In [143]:
name = input('Enter your name : ')
print(name.count("a"))

Enter your name : Chathula
2

In [144]:
name = input('Enter your phone number : ')
print(name.replace("-"," "))

Enter your phone number : 077-9080659
077 9080659

In [146]:
name = input('Enter your phone number : ')
print(name.replace("-",""))

Enter your phone number : 077-90-80-659
0779080659

# indexing = accessing elements of a sequence using [] (indexing operator) [start : end : step]

In [148]:
credit_number = "1234-5678-9012-3456"

credit_number[1]

'2'

In [149]:
credit_number[0:4]

'1234'

In [150]:
credit_number[5:9]

'5678'

In [151]:
credit_number[5:]

'5678-9012-3456'

In [152]:
credit_number[-2]

'5'

In [153]:
credit_number[::2]

'13-6891-46'

In [154]:
credit_number[::3]

'146-136'

In [155]:
last_digit = credit_number[-4:]
print(f"XXXX-XXXX-XXXX-{last_digit}")

XXXX-XXXX-XXXX-3456